@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	height:  auto;




}
body{

	overflow: auto;



}
/*whole page container*/
div#page-wrap {

	margin: 0;
	font-size: 62;
	min-height: 100%;
	resize: vertical;
	overflow: auto;
	position:relative;
    max-width: 960px;


}
/* 1upper block*/
 ul{
	list-style-type: none;
	top: 0;
	 position: fixed;
	 width: 100%;
	background-color: #80cbc4; 
	display: block;
	transition: top 0.3s;
}
/*nave bar element properties*/
ul#nav li a{
	float:left;
	display: block;
	font-family: Century Gothic;
	font-size: 100%;
	width: 155px;
	color: #e0f2f1;
	font-weight: bold;
	text-align: center;
	text-decoration:inherit;
	padding-right: 0px;
	padding-top: 21px;
	overflow:auto;
}
/*nav hover function*/
ul#nav li a:hover,ul#nav li a:active {
	color: #76ff03;
 	text-shadow:1px 0px 2px black;
	background: #2c3e50;
	border-radius: 5px;
	padding-bottom: 35px;
	transform: skewX(-30deg);

}
/*nav active function*/
ul#nav span{
	color: #0dfa71;
	
}

/*title span properties*/
div.mov-title span{
	background: #0dfa71;
	padding: 20px 30px 20px 30px;
	border: 2px solid #e0f2f1;
	border-radius: 10px;
	color: #e0f2f1;
	font: bold;
	text-shadow: 2px 2px 5px black;

}
/*main content section*/
#main-content1{
	padding-bottom: 100px;
	margin-bottom: 50px;
	padding-left: 100px;
	padding-right: 10px;
	

}

/*title 2 span properties*/
div.ser-title span{
	background: #0dfa71;
	padding: 20px 30px 20px 30px;
	border: 2px solid #e0f2f1;
	border-radius: 10px;
	color: #e0f2f1;
	font: bold;
	text-shadow: 2px 2px 5px black;

}
/*main content2 section*/
#main-content2 {
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 10px;

}
/*footer section*/
#footer {
	position:inherit;
	left:0;
	bottom: 0px;
	width: 100%;
	text-align:justify;
	background: #80cbc4;
	color: #e0f2f1;
	padding: 30px 0px 30px 600px;
	text-transform: uppercase;
	border-top: 2px solid #0dfa71;
	margin-top: auto;
	resize: horizontal;
	overflow:auto;

}

/*tile additional properties*/
.mov-title{
	height: 60px;
	margin-top: 100px;
	padding-top: 100px;
	padding-left: 50px;
	padding-bottom: 10px;

}

.ser-title{
	height: 60px;
	margin-top: 100px;
	padding-top: 100px;
	padding-left: 50px;
	padding-bottom: 10px;
}



.desc {
	background: #37474f;
	padding: 20px 50px 100px 50px;
	margin: 180px 50px 150px 50px;
	color: aliceblue;
	border: 2px solid black;
	border-radius: 10px ;
	font-size: 150%;
}
video{
	margin: 0 auto;
	padding: 20px 100px 100px 150px;
	width: 70%;
	height: auto;
	}
control{
	color: aqua;
	opacity: 100%;
}
#main-content1,#main-content2{
	display: flex;
	flex-direction: row;
}

#pop {
	top: 200px;
	left: 200px;
	right: 200px;
	text-align: center;

}
/*// animated tag //*/
#pop{
	top: -400px;
	animation: drop 1s ease forwards;
}
@keyframes drop{
	0%{opacity: 0}
	70%{transform: translateY(300px)}
	100%{transform: translateY(50px); opacity: 1;}
}
@keyframes slider{
	0%{left: 0%;}
	50%{left: -100%}
	100%{left:-500%}
	
}


.nav-brand img {
	float: left;
	height: 76px;
	width: 499px;
}

.title {
	margin-bottom: 0px;
	text-decoration: inherit;
	text-align: center;
	display:flex;}
	
	




/*form button*/
button {
	background-color:gold;
	margin:  0px 0px 0px 1200px;
	padding: 15px 50px;
	border: none;
	cursor: pointer;
	 border-radius: 0px 4px ;
	
	
	
	
}
button:hover{
	background-color: aqua;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	opacity: 0.8;
}
.email input[type=text]{
	margin: 0px 0px 0px 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Extra styles for the cancel button */
.cancelbtn {
	margin: 20px 0px 20px 20px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
	 border-radius: 4px 4px 4px 4px;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px 0px 15px 225px;
	
	
}
span.psw {
    float: right;
    padding-top: 16px;
	margin-right: 30px;
}
/* The Modal (background) */
.modal {
   /* display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: aqua;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
	border-radius: 20px 20px 20px 20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
#submit {
	 width: 50%;
	margin: 2px 0px 20px 70px;
    padding: 15px 10px;
	font-size: 15px;
	background-color:gold;
     border-radius: 4px 4px 4px 4px;
}
/* poster details*/
.holder{
	position: relative;
	width: 100%;
}
.overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	background-color:#80cbc4 ;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .1s ease;
}
.holder:hover .overlay{
	height: 100%;
}
.text{
	color: white;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50% , -50%);
	text-align: center;
}
/*genere label*/
#animation{
	color:gold;
}
#action{
	color: red;
}
#fantasy{
	color: blueviolet;
}
#horror{
	color: #000;
}
#sci-fi{
	color: slateblue;
}

/*join properties*/
.dropbtn{
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
	margin-top: 0px;
	border-radius: 5px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
	display: inline-block;
	margin-top: 75px;
}
    


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
